.container {
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    gap: 20px;
}

.search-cep {
    width: 400px;
    min-height: 160px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ea580c;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: #f97316;
        transition: all 0.3s;
    }
}

#resultado {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: #fff;
    font-size: 16px;
}

.cep-info {
    margin-bottom: 10px;
}

.salvar-cep {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #10b981;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.zip-code-save {
    width: 400px;
    max-height: 500px;
    padding: 25px;
    border-radius: 15px;
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

#cep-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #555 #2e2e2e;
}

.cep-item {
    margin-bottom: 15px;
}

.cep-item button {
    margin: 8px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ef4444;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: #f87171;
        transition: all 0.3s;
    }
}